<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <script type="text/javascript" src="//code.jquery.com/jquery-2.2.1.min.js"></script>
  <script>
    var endpoint = window.location.search.indexOf("live") > -1 ? '/async_live' : '/async'
    var timeStart = Date.now();
    document.write("starting non multi threaded calls.");
    document.write("<br>");
    for (var i = 0; i < 10; i++) {
      $.get(endpoint)
        .then(function(data) {
          var timeElapsed = (Date.now() - timeStart) / 1000;
          var serverDelay = data.delay;
          document.write("A call returned " + timeElapsed + " seconds after being called. Server set delay was " + serverDelay);
          document.write("<br>");
        });
    }
  </script>
</body>
</html>
